.App {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 650px;
    max-width: 650px;
    max-height: 560px;
    height: 100%;

    user-select: none;

    >.body {
        display: flex;
        flex-direction: column;
        height: 95%;

        >.windows-lists {
            padding: 0px 10px 0px 0px;
            overflow-y: auto;

            .page-link:focus {
                box-shadow: none;
            }

            .list {

                .window-item {

                    .window-item-header {
                        background-color: white;

                        .window-title {
                            font-weight: bold;
                        }

                        .window-title,
                        .window-actions>svg {
                            padding: 3px;
                            cursor: pointer;
                        }

                        .window-title:hover {
                            color: #0d6efd;
                        }
                    }
                }
                
                &.virtualized {
                    .tab-item {
                        width: 95%;
                    }
                }

                .tab-item {
                    height: 40px;

                    margin-left: 20px;
                    border-bottom: 2px solid #0d6efd;

                    .tab-title {
                        font-weight: bold;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        .tab-favicon {
                            background-color: lightgray;
                            border-radius: 3px;
                            width: 16px;
                            height: 16px;
                        }

                        input[type='checkbox'] {
                            margin-top: 0.4rem;
                        }

                        span {
                            vertical-align: middle;
                        }
                    }

                    .tab-title,
                    >.tab-actions>svg {
                        padding: 3px;
                        cursor: pointer;
                    }

                    .tab-title:hover {
                        color: #0d6efd;
                    }

                }

                span.active {
                    color: deepskyblue;
                }
            }
        }
    }
}

.icon {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.icon:hover {
    background-color: #0d6dfd7b;
}

.icon:active {
    background-color: #08367b;
}

.Options {
    padding: 15px;
    min-width: 650px;
    max-width: 650px;
    min-height: 570px;
    max-height: 570px;
    user-select: none;

    label {
        margin: 0;
        width: max-content;
    }

    h5 {
        margin: 0;
        font-size: medium;
    }
}