.App {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    min-width: 650px;
    max-width: 650px;
    max-height: 600px;
    height: 100%;

    user-select: none;

    input:focus {
        box-shadow: none;
    }

    >.header {
        >input {
            width: 95%;
        }


        >.refresh-expand-btn {
            cursor: pointer;
            padding: 3px;
            border-radius: 5px;
        }

        >.refresh-expand-btn:hover {
            background-color: #0d6dfd7b;
        }

    }

    >.body {
        display: flex;
        flex-direction: column;
        height: 90%;

        >.windows-lists {
            padding: 0px 15px 0px 0px;
            overflow-y: auto;

            .list {

                >.window-item {

                    >.window-item-header {

                        .window-title {
                            font-weight: bold;
                        }

                        >.window-title,
                        >.window-actions>svg {
                            padding: 3px;
                            cursor: pointer;
                        }

                        >.window-title:hover {
                            color: #0d6efd;
                        }

                        >.window-actions>svg:hover {
                            border-radius: 5px;
                            background-color: #0d6dfd7b;
                        }
                    }

                    >.window-item-tabs {

                        >.tab-item {
                            height: 40px;

                            margin-left: 20px;
                            border-bottom: 2px solid #0d6efd;

                            >.tab-title {
                                font-weight: bold;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;

                                >.tab-favicon {
                                    background-color: black;
                                    border-radius: 50%;
                                    width: 16px;
                                    height: 16px;
                                }
                            }

                            >.tab-title,
                            >.tab-actions>svg {
                                padding: 3px;
                                cursor: pointer;
                            }

                            >.tab-title:hover {
                                color: #0d6efd;
                            }

                            >.tab-actions>svg:hover {
                                border-radius: 5px;
                                background-color: #0d6dfd7b;
                            }

                            input[type='text'] {
                                height: 80%;
                            }
                        }
                    }

                    span.active {
                        color: deepskyblue;
                    }
                }
            }
        }
    }
}